<!DOCTYPE html>
<html lang="cs" dir="ltr" itemtype="http://schema.org/WebPage" itemscope="">

    <head>
        <meta charset="utf-8">
        <title>Pirátský Pupík</title>
        <meta name="robots" content="noindex,nofollow" />
        <meta name="description" content="Proof of concept vyhledávače v pirátském ekosystému">
        <link href="assets/main.css" rel="stylesheet">

        <!-- VUE development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>        

    </head>

    <body>

    <div id='content' class='content'>
    
        <div class='searchbox-area'>
        
            <div class='search-title'>
                <span class='search-title-logo'><img src='assets/logo.svg' class='search-title-logo-image'></span>
                <span class='search-title-name'>PUPÍK</span>
            </div>
            
            <div class='search-row'>

                <span class='search-phrase'>
                    <input v-focus v-model="query" v-on:keyup.enter="search" placeholder="co hledáš u Pirátů?" />
                </span>
                
                <span class='search-button'>
                    <button v-on:click="search">Vyhledat</button>
                </span>

            </div>
        
        </div>
    
        <div class='results-area' v-bind:class="{ hidden: hasNoResults }" >

            <div class='results-count'>
                Nalezeno {{resultsCount}} výsledků<br>
                <i>ProofOfConcept: z výkonostních důvodů omezeno na {{limit}} výsledků</i>
            </div>

            <search-results
              v-for="result in results"
              v-bind:key="result._source.id"
              v-bind:source="result._source"
            ></search-results>
                    
        </div>

    </div>
    
    <div class='footer'>
        Vyhledávání napříč Pirátským ekosystémem. Ve stadiu ProofOfConcept, nestabilní. Agreguje data z fóra, redmine a proplácení. <br>
        Licence: CC BY-SA | <a href='https://gitlab.com/Jarmil/pupik'>Zdrojový kód</a> | Připomínky na <a href='mailto:jarmil.halamicek@seznam.cz'>jarmil.halamicek@seznam.cz</a>
        <img src='assets/cc-by-sa.png' class='license-image'>
    </div>
        
  </body>

  <script>
  
    // pro presunuti focusu na prvek s touto direktivou
    Vue.directive('focus', {
      // When the bound element is inserted into the DOM...
      inserted: function (el) {
        // Focus the element
        el.focus()
      }
    })
        
    // vysledky hledani
    Vue.component('search-results', {
            props: ['source'],
            template: '<div class="result">' + 
                    '<div class="result-title">{{ source.title }}</div>' + 
                    '<div class="result-link"><a :href="source.url">{{ source.url }}</a></div>' +
                    '<div class="result-snipplet"><span class="result-date">{{source.date}}</span> {{ source.snipplet }}</div>' +
                '</div>'
    });
        
    // main app    
    var vm = new Vue({

        el: '#content',
        data: {
            name: 'Vue.js',
            resultsCount: 0,
            hasNoResults: true,
            limit: 100,              // na kolik vysledku je limitovan dotaz
            response: [],
            results: []            
        },

        methods: {

            // po stisku tlacitka search
            search: function (event) {

                // Alias the component instance as `vm`, so that we can access it inside the promise function
                var vm = this
                
                if(this.query) { 
                
                    fetch('http://' + window.location.hostname + ':9200/article/_search?q=fulltext:' + this.query + '&size=' + this.limit )
                      .then(function (response) {
                        return response.json()
                      })
                      .then(function (data) {
                        vm.response = data
                        vm.results = data["hits"]["hits"]
                        vm.resultsCount = data["hits"]["total"].value
                        vm.hasNoResults =false;
                      })
                      
                } else {
                    vm.response = []
                    vm.results = []
                    vm.resultsCount = 0
                }
            }
            
            
        }
  })

  </script>
  
</html>
